a.h5.d-block.mb-3.text-secondary.text-uppercase.font-weight-bold {
	overflow: hidden;
	max-height: 100px;
	min-height: 100px;
}

.img-fluid {
	height: 250px;
}

p.m-0 {
	min-height: 100px;
	max-height: 100px;
	overflow: hidden;
}

img.img-fluid.small-image {
	max-height: 100px;
	max-width: 100px;
}

a.h6.m-0.text-secondary.text-uppercase.font-weight-bold {
	overflow: hidden;
	max-height: 40px;
	min-height: 40px;
}

a.h4.d-block.mb-3.text-secondary.text-uppercase.font-weight-bold {
	overflow: hidden;
	max-height: 50px;
	min-height: 50px;
}

img.img-fluid.h-100 {
	width: 100%;
}
.news-content  img {
	object-fit: cover;
	width: 100% !important;
}